{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

<div class="container ps-5 pt-5">
 <div class="row ps-5 pt-5">
  <div class="col-1">
          
   </div>
      <div class="col-8 ps-5 pt-5"  data-aos="zoom-in"  >
         <div class="p-5 " style=" border-radius: 20px; border: 1px solid;box-shadow:7px 7px 9px purple;"  id="grad2">
        <center><h1><a style="color: purple;"><b>Change Password</b></h1><br></center>
        <form method="POST" action="">
        {% csrf_token %}  
        <p> {{msg}}</p>
     
    <h5 style="color: purple;" for="exampleFormControlInput1" class="form-label ps-1"><b>Old Password</b></h5>
    <input  data-aos="fade-up" type="Password" class="form-control" placeholder="Password" name="old" required><br>
    <h5 style="color: purple;" for="exampleFormControlInput1" class="form-label ps-1"><b>New Password</b></h5>
    <input  data-aos="fade-up" type="Password" class="form-control" placeholder="Password" name="new" required ><br>
    <h5 style="color: purple;" for="exampleFormControlInput1" class="form-label ps-1 text-purple"><b>Confirm New Password</b></h5>
    <input  data-aos="fade-up" type="Password" class="form-control" placeholder="Password" name="cpass" required><br>
    <div>
      <br>
      <center><button type="submit"  data-aos="zoom-out" class="btn btn-lg rounded eff1" style="background: lightgrey; border: 1px solid; border-color: #ccc;"> <a style="color:purple;"><b>Set password</b></button><br></center>
        
     </form>
     <br>
     <div style="padding-left: 500px;">
       
     
     </div>  
     </div>
     </div>
     </div>
         <div class="col-2">
          
   </div>
</div>
</div>

{% endblock %}