<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/corporate/2-1/vendor/modal-video/css/modal-video.min.css">
    <!-- Leaflet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/corporate/2-1/vendor/leaflet/leaflet.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;font-display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/corporate/2-1/css/style.default.0be89f56.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/corporate/2-1/css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/corporate/2-1/img/favicon.bdfe146b.png">
</head>
<body>
<footer class="map-bg">
      <div class="container py-5 border-bottom z-index-20 position-relative">
        <div class="row pt-5 gy-4">
          <div class="col-lg-3 col-md-6"><img class="mb-3" src="https://d19m59y37dris4.cloudfront.net/corporate/2-1/img/logo.65f8cef7.svg" alt="" width="80">
            <ul class="list-unstyled text-muted">
              <li><a class="reset-anchor text-sm" href="mailto:Iso@company.com">Iso@company.com</a></li>
              <li><a class="reset-anchor text-sm" href="tel:+975478985">+97 5478 985</a></li>
            </ul>
            <ul class="list-inline text-muted">
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4>About us</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">Support center</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">Customer support</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">About us</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">copyright</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">popular campaign</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4>Our information</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">Support center</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">Customer support</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">About us</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">copyright</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">popular campaign</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h4>Policy</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">Support center</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">Customer support</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">About us</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">copyright</a></li>
              <li class="mb-1"><a class="text-sm reset-anchor" href="#!">popular campaign</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container py-4 z-index-20 position-relative">
        <div class="row text-center">
          <div class="col-lg-6 p-lg-0 text-lg-start">
            <p class="text-muted text-sm mb-0">© 2023 Your company, All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 p-lg-0 text-lg-end">
            <p class="text-muted text-sm mb-0">Template designed by <a class="text-primary reset-anchor" href="https://bootstrapious.com/p/bootstrap-corporate-template">Bootstrapious</a>
              <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
            </p>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>